$nord0: #2e3440;
$nord1: #3b4252;
$nord2: #434c5e;
$nord3: #4c566a;
$nord4: #d8dee9;
$nord5: #e5e9f0;
$nord6: #eceff4;
$nord7: #8fbcbb;
$nord8: #88c0d0;
$nord9: #81a1c1;
$nord10: #5e81ac;
$nord11: #bf616a;
$nord12: #d08770;
$nord13: #ebcb8b;
$nord14: #a3be8c;
$nord15: #b48ead;

$primary: $nord8;
$secondary: $nord9;
$success: $nord14;
$info: $nord15;
$warning: $nord13;
$danger: $nord11;
$light: $nord6;
$dark: $nord0;

@font-face {
    font-family: "Lato";
    src: url(../fonts/Lato/Lato-Regular.ttf);
}

@font-face {
    font-family: "Merriweather";
    src: url(../fonts/Merriweather/Merriweather-Regular.ttf);
}

body {
    font-family: "Lato" !important;
    background-color: $nord6 !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Merriweather" !important;
}

.link-center {
    display: block;
    line-height: 4rem;
    text-align: center;
    margin: 0;
}

#content {
    margin-top: 4rem;
    height: calc(100vh - 4rem);
}

@media only screen and (max-height: 356px) {
    #content.justify-content-center {
        justify-content: flex-start !important;
    }
}

// Pull Font Awesome
//@import "../font-awesome/scss/regular";

/*!
 * Font Awesome Free 5.15.2 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
 */
$fa-font-path: "../font-awesome/webfonts";
$fa-font-display: block;

@font-face {
    font-family: 'Font Awesome 5 Free';
    font-style: normal;
    font-weight: 900;
    font-display: $fa-font-display;
    src: url('#{$fa-font-path}/fa-solid-900.eot');
    src: url('#{$fa-font-path}/fa-solid-900.eot?#iefix') format('embedded-opentype'),
    url('#{$fa-font-path}/fa-solid-900.woff2') format('woff2'),
    url('#{$fa-font-path}/fa-solid-900.woff') format('woff'),
    url('#{$fa-font-path}/fa-solid-900.ttf') format('truetype'),
    url('#{$fa-font-path}/fa-solid-900.svg#fontawesome') format('svg');
  }

.fa {
    font-family: 'Font Awesome 5 Free';
}

// Pull Bootstrap
@import "../bootstrap-4.6.0/scss/functions";
@import "../bootstrap-4.6.0/scss/variables";
@import "../bootstrap-4.6.0/scss/mixins";
@import "../bootstrap-4.6.0/scss/root";
@import "../bootstrap-4.6.0/scss/reboot";
@import "../bootstrap-4.6.0/scss/type";
//@import "../bootstrap-4.6.0/scss/images";
//@import "../bootstrap-4.6.0/scss/code";
@import "../bootstrap-4.6.0/scss/grid";
//@import "../bootstrap-4.6.0/scss/tables";
@import "../bootstrap-4.6.0/scss/forms";
@import "../bootstrap-4.6.0/scss/buttons";
//@import "../bootstrap-4.6.0/scss/transitions";
//@import "../bootstrap-4.6.0/scss/dropdown";
//@import "../bootstrap-4.6.0/scss/button-group";
@import "../bootstrap-4.6.0/scss/input-group";
//@import "../bootstrap-4.6.0/scss/custom-forms";
@import "../bootstrap-4.6.0/scss/nav";
@import "../bootstrap-4.6.0/scss/navbar";
@import "../bootstrap-4.6.0/scss/card";
//@import "../bootstrap-4.6.0/scss/breadcrumb";
//@import "../bootstrap-4.6.0/scss/pagination";
//@import "../bootstrap-4.6.0/scss/badge";
//@import "../bootstrap-4.6.0/scss/jumbotron";
//@import "../bootstrap-4.6.0/scss/alert";
//@import "../bootstrap-4.6.0/scss/progress";
//@import "../bootstrap-4.6.0/scss/media";
//@import "../bootstrap-4.6.0/scss/list-group";
//@import "../bootstrap-4.6.0/scss/close";
//@import "../bootstrap-4.6.0/scss/toasts";
//@import "../bootstrap-4.6.0/scss/modal";
//@import "../bootstrap-4.6.0/scss/tooltip";
//@import "../bootstrap-4.6.0/scss/popover";
//@import "../bootstrap-4.6.0/scss/carousel";
@import "../bootstrap-4.6.0/scss/spinners";
@import "../bootstrap-4.6.0/scss/utilities";
//@import "../bootstrap-4.6.0/scss/print";

.card-container {
    .card {
        margin-bottom: 1rem;
    }

    .card-link {
        color: $light;
        @include hover() {
            color: darken($light, 15%);
        }
    }

    @include media-breakpoint-up(md) {
        column-count: 2;
        column-gap: 1.25rem;
        orphans: 1;
        widows: 1;
        .card {
            display: inline-block; // Don't let them vertically span multiple columns
            width: 100%; // Don't let their width change
        }
    }

    @include media-breakpoint-up(lg) {
        column-count: 3;
    }
}

.items-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .card {
        margin-bottom: 1rem;
    }

    .card-link {
        color: $light;
        @include hover() {
            color: darken($light, 15%);
        }
    }

    @include media-breakpoint-up(md) {
        /*column-count: 2;
        column-gap: 1.25rem;
        orphans: 1;
        widows: 1;*/
        .card {
            display: inline-block; // Don't let them vertically span multiple columns
            width: 100%; // Don't let their width change
        }

        .card-column {
            width: calc(calc(100% - 1.25rem) / 2);
        }

        .c-1 {
            order: 0;
        }

        .c-2 {
            order: 2;
        }
        .c-3 {
            order: 1;
        }

        .c-4 {
            order: 3;
        }
    }

    @include media-breakpoint-up(lg) {
        //column-count: 3;
        .card-column {
            width: calc(calc(100% - 2.5rem) / 3);
        }

        .c-1 {
            order: 0;
        }

        .c-2 {
            order: 3;
        }
        .c-3 {
            order: 1;
        }

        .c-4 {
            order: 2;
        }
    }
}

.charity-link {
    color: $nord0 !important;
    
    :hover {
        background-color: lighten($secondary, 10%);
    }

    &:hover {
        text-decoration: none !important;
    }
}

.dropdown.card {
    .card-title {
        padding: .2rem .5rem;
        margin: 0;
        line-height: .4rem;
        span {
            position: relative;
            float: right;
            bottom: .2rem;
        }
    }

    cursor: pointer;
}

.dropdown-target {
    overflow: hidden;
    padding: 0;
    min-height: 0 !important;
    height: 0px;
    margin: 0;

    li {
        &:hover {
            background-color: darken($info, 10%);
        }

        padding: 0.2rem;

        a {
            display: inline-block;
            width: 100%;
            color: inherit;
        }
    }
}

.result-link {
    color: $nord0 !important;

    .card {
        background-color: $secondary;
    }

    &:hover {
        text-decoration: none !important;
        .card {
            background-color: lighten($secondary, 10%);
        }
    }
}