node_modules
.sass-cache
.vscode
python/__pycache__
bootstrap-4.6.0/*
!bootstrap-4.6.0/js
bootstrap-4.6.0/js/*
!bootstrap-4.6.0/js/dist
bootstrap-4.6.0/js/dist/*
!bootstrap-4.6.0/js/dist/util.js
!bootstrap-4.6.0/js/dist/collapse.js
font-awesome/*
!font-awesome/webfonts